<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/userregis.css">
</head>

<body>

    <form method="post">
        <div class="container" style="margin-top:30%">
            <h1 style="text-align: center;">Login to Check your Order Status</h1>



            <label for="phone"><b>Phone</b></label>
            <input type="text" placeholder="Enter Your Phone Number" name="phone" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pass" required>


            <button type="submit" id="loginbtn" class="registerbtn">Proceed</button>
        </div>

    </form>

    <!-- <script src="./js/checkout.js"></script> -->

</body>

</html>