<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-9">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart text-center">
                        <!-- table head -->
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <!-- <th scope="col" width="120">Quantity</th> -->
                                <th scope="col" width="120">Price</th>
                                <!-- <th scope="col" width="120">Total</th> -->
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <!-- table head end -->
                        <tbody>
                            <!-- table data start -->
                            <!-- quantity: 3,
                            totalPrice: 11334,
                            prod: [ -->
                            <!-- --Product
                            --ProductPrice
                            --ProductID
                            --ShopId -->

                                <% JSON.parse(CartProducts.product).prod.forEach(element=> { %>
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img
                                                        src="./img/product.png"
                                                        class="img-sm"></div>
                                                <figcaption class="info"> <a href="#" class="title text-dark"
                                                        data-abc="true"><%=element.Product%></a>
                                                    <p class="text-muted small"> <br> </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <!-- <td> 
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select> 
                                        </td> -->
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price"><%=element.ProductPrice%></var>
                                                <small class="text-muted"></small>
        
                                            </div>
                                        </td>
                                        <!-- <td>
                                            <div class="price-wrap"> <var class="price">$10.00</var>
                                                <small class="text-muted"></small>
        
                                            </div>
                                        </td> -->
                                        <td class="text-right d-none d-md-block">
                                            <a href="" class="btn btn-light" data-abc="true"> Remove</a>
                                        </td>
                                    </tr>

                                    <% }) %>

							

                            

    
                                      
                           


                        </tbody><!-- table data end -->
                    </table>
                </div>
            </div>
        </aside>
        <!-- Checout Start -->
        <div class="col-lg-3">

            <div class="card">
                <div class="card-body">
                    <!-- <dl class="dlist-align">
                        <dt>Total price:</dt>
                        
                            <dd class="text-right ml-3"></dd><br>

                        
                    </dl> -->
                    <!-- <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-right text-danger ml-3">- $10.00</dd>
                    </dl> -->
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right text-dark b ml-3"><strong>$<%=JSON.parse(CartProducts.product).totalPrice%></strong></dd>
                    </dl>
                    <hr> 
                    <!-- <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make
                        Purchase </a>  -->
                        <a href="/userregis" id="checkoutbtn" class="btn btn-out btn-primary btn-square btn-main mt-2"
                        data-cartproducts=<%=blabla%> >Check Out</a>
                </div>
            </div>
        </div><!-- Checout end -->
    </div>
</div>