<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>

  <h1 id="name">Neetu</h1> 55
  <h1 id="mobile">.... ... <%= "mobile" %>
  </h1>




  <!-- <script>console.log(__dirname)</script> -->
  <!-- <script src="js/database.js"></script> -->

  <script>

    console.log("helllowwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww");

    sessionStorage.setItem("lastname", "Smith1");
    //document.cookie = `abc= xyz`;
    // var username = getCookies("abc");

    var str = document.cookie;
    var res = str.split(",");

    res.str[res.indexOf('abc')];

  </script>


</body>

</html