<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design for Bootstrap</title>
  <!-- MDB icon -->
  <link rel="icon" href="../../resources/vendor/MDB-Free_4.19.2/img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../../resources/vendor/MDB-Free_4.19.2/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="../../resources/vendor/MDB-Free_4.19.2/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="../../resources/vendor/MDB-Free_4.19.2/css/style.css">
  <!-- Custom styles -->
  <link rel="stylesheet" href="../../resources/css/location.css">

  <style>
    
    
  </style>
</head>
<body>

  <!-- Start your project here-->
  
  <!-- End your project here-->

  
  <!-- jQuery -->
  <script type="text/javascript" src="../../resources/vendor/MDB-Free_4.19.2/js/jquery.min.js"></script>
  

  <!-- jquery ui -->
  <script src="../../resources/vendor/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.js"></script>


  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../resources/vendor/MDB-Free_4.19.2/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../resources/vendor/MDB-Free_4.19.2/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../resources/vendor/MDB-Free_4.19.2/js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript" src="../../resources/js/location.js"></script>

</body>
</html>
